<body class="container">
    <h2>Order Summary</h2>    
    <table mat-table  class="mat-elevation-z8" [dataSource]="items" matSort>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let item"> {{ item.name }} </td>
        </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let item"> {{ item.price | currency }} </td>
        </ng-container>
        
      <tr mat-header-row *matHeaderRowDef="['name', 'price']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'price']"></tr>
        
      </table>
      <h3>Total: {{ total | currency }}</h3>
      <button class="center-button" (click)="createOrder()">Place Order</button>
      <div *ngIf="orderCreated" class="order-message">
        {{orderMessage}}
      </div>
      <app-payment *ngIf="orderCreated"></app-payment>
</body>

<!-- <div *ngFor="let item of items">
    <h3>{{ item.name }}</h3>
    <p>{{ item.price | currency }}</p>
  </div>
  <h3>Total: {{ total | currency }}</h3>
  <button (click)="createOrder()">Create Order</button>
   -->
  <!-- Add payment form here -->
  
  